.App {
  text-align: center;
}

.controls {
  margin-top: 20px;
}

.controls input {
  font-size: 16px;
  text-align: right;
  width: 100px;
  padding: 5px 10px;
}

.button {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 12px;
  cursor: pointer;
}
